%h1 Listing artists

%table.table
  %tr
    %th Name
    %th Songs
    %th
    %th

  - @artists.each do |artist|
    %tr
      %td= link_to artist.name, artist
      %td= artist.songs.count
      %td= link_to 'Edit', edit_artist_path(artist)
      %td= link_to 'Destroy', artist, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Artist', new_artist_path
